{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <br>
  <h4>Open Source Data and Analytics Solutions</h4>
  <br>
  <h3>Technologies</h3>
  <br>
  <a href="https://www.postgresql.org"><img src="https://s3.amazonaws.com/affirm-web/img/postgresql-logo1.png" border="0" style="padding-top: 40px;" height="120" width="100"></a>
  <a href="https://www.mongodb.com"><img src="https://s3.amazonaws.com/affirm-web/img/MongoDB-Logo.svg.png" border="0" style="padding-top: 40px;" height="100" width="140"></a>
  <a href="https://www.mysql.com"><img src="https://s3.amazonaws.com/affirm-web/img/MySQL.svg.png" border="0" style="padding-top: 40px;" height="100" width="140"></a>
  <a href="http://hadoop.apache.org/"><img src="https://s3.amazonaws.com/affirm-web/img/664px-Hadoop_logo.svg.png" border="0" style="padding-top: 40px;" height="100" width="140"></a>
  <a href="https://hive.apache.org/"><img src="https://s3.amazonaws.com/affirm-web/img/Apache_Hive_logo.svg.png" border="0" style="padding-top: 40px;" height="100" width="100"></a>
  <a href="https://aws.amazon.com/kinesis/streams"><img src="https://s3.amazonaws.com/affirm-web/img/aws_kinesis.png" border="0" style="padding-top: 40px;" height="100" width="140"></a>
  <a href="https://aws.amazon.com/kafka/"><img src="https://s3.amazonaws.com/affirm-web/img/kafka-logo-wide.png" border="0" style="padding-top: 40px;" height="100" width="140"></a>
  <a href="https://aws.amazon.com/redshift"><img src="https://s3.amazonaws.com/affirm-web/img/amazon-redshift_m4pefz.png" border="0" style="padding-top: 40px;" height="120" width="100"></a>
  <a href="https://aws.amazon.com/s3"><img src="https://s3.amazonaws.com/affirm-web/img/amazon-s3-logo-150x118.png" border="0" style="padding-top: 40px;" height="100" width="100"></a>
  <a href="https://aws.amazon.com/emr/details/spark/"><img src="https://s3.amazonaws.com/affirm-web/img/spark-logo.png" border="0" style="padding-top: 40px;" height="100" width="140"></a>
  <a href="https://cloud.google.com"><img src="https://s3.amazonaws.com/affirm-web/img/google-compute-engine-logo_w_500.png" border="0" style="padding-top: 40px;" height="120" width="140"></a>
  <a href="https://www.python.org/"><img src="https://s3.amazonaws.com/affirm-web/img/Python-Logo-PNG-Image.png" border="0" style="padding-top: 40px;" height="100" width="140"</a>
  <a href="http://scikit-learn.org/"><img src="https://s3.amazonaws.com/affirm-web/img/scikit-learn-logo-notext.png" border="0" style="padding-top: 40px;" height="100" width="140"></a>
  <a href="https://www.r-project.org/"><img src="https://s3.amazonaws.com/affirm-web/img/data-science-efficiency-neo4j-and-r.png" border="0" style="padding-top: 40px;" height="100" width="120"</a>
  <a href="https://www.elastic.co/"><img src="https://s3.amazonaws.com/affirm-web/img/logo-elastic.png" border="0" style="padding-top: 40px;" height="100" width="140"></a>
  <a href="https://www.elastic.co/products/logstash"><img src="https://s3.amazonaws.com/affirm-web/img/logstash_logo.png" border="0" style="padding-top: 40px;" height="100" width="140"></a>
  <a href="http://redash.io/"><img src="https://s3.amazonaws.com/affirm-web/img/redash_logo.png" border="0" style="padding-top: 40px;" height="100" width="140"></a>
  <a href="https://www.piwik.com"><img src="https://s3.amazonaws.com/affirm-web/img/500px-Piwik-logo.svg.png" border="0" style="padding-top: 40px;" height="100" width="140"></a>
  <a href="https://analytics.google.com"><img src="https://s3.amazonaws.com/affirm-web/img/christopher_bettig-x-google_analytics_02.png" border="0" style="padding-top: 40px;" height="100" width="160"></a>
  <br>
  <br>
{% endblock %}
