{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <br>
  <h4>Open Source Data and Analytics Solutions</h4>
  <br>
  <h4><a href="http://www.google.com/recaptcha/mailhide/d?k=01wbhvpO-ZFUsqNqossNW9Ug==&amp;c=XhtBg2f1P1is0ecogHk8mowjblpY0fIIOlbuCEeay4o=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01wbhvpO-ZFUsqNqossNW9Ug\x3d\x3d\x26c\x3dXhtBg2f1P1is0ecogHk8mowjblpY0fIIOlbuCEeay4o\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Click here to reveal e-mail address: w...</a>@affirmalytics.com</h4>
  <br>
{% endblock %}
