{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <br>
  <h4>Open Source Data and Analytics Solutions</h4>
  <br>
  <p>Affirmalytics provides custom data and analytics solutions. It specializes in open source cloud-based solutions that are uncomplicated and easy to maintain</p>
  <p>Affirmalytics prides itself on the ability to choose the right technology for a solution, and integrate it seamlessly with a company's current development.</p>
{% endblock %}
